*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-white);
    color: var(--color-brown);
    height: 100%;
    width: 100%;
    min-width: 350px;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}