:root {
    --color-beige_light: #dddbd7;
    --color-beige: #aea38e;
    --color-brown: #593b1f;
    --color-green: #53583e;
    --color-white: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 70px 0;
}

.description {
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
}

.header-name {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    word-spacing: 6px;
    font-size: 40px;
}

.cover {
    background-image: url('../images/IMG_7559.WEBP');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 350px;
}

.date {
    background-color: var(--color-beige_light);
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 5px;
    padding: 30px;
}

.about {
    background-color: var(--color-beige_light);
    padding: 0 30px;
}

.about-title {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about-title_left {
    align-self: flex-start;
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 100px;
    font-weight: 200;
    letter-spacing: 10px;
    padding-left: 10px;
    color: var(--color-green);
}

.about-title_right {
    text-transform: uppercase;
    font-weight: 700;
    align-self: flex-end;
    font-size: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
    text-transform: lowercase;
    line-height: 20px;
    font-weight: 300;
}

.event-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    padding: 10px 0 20px;
}

.event_text-left {
    color: var(--color-beige);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.event_text-right {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 80px;
    color: var(--color-beige_light);
}

.calendar {
    background-image: url('../images/IMG_9226.PNG');
    background-color: var(--color-green);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 335px;
}

.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-green);
    color: var(--color-beige_light);
    text-transform: uppercase;
    padding: 0 0 20px;
}

.timer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
}

.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-time {
    font-size: 27px;
}

.label {
    text-transform: lowercase;
    color: var(--color-beige);
    font-size: 10px;
    padding: 5px 0;
}


.dress_code {
    padding: 30px 0 0;
    background-color: var(--color-beige_light);
}

.logo-dress_code {
    text-align: center;
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 40px;
    letter-spacing: 3px;
}

.ellipse-container, .circle-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    padding: 15px;
}

.ellipse {
    border-radius: 30px/30px;
    width: 40px;
    height: 220px;
}

.ellipse-yellow {
    background-color: #ffeda8;
}

.ellipse-green {
    background-color: var(--color-green);
}

.ellipse-green_light {
    background-color: #9fad93;
}

.ellipse-brown {
    background-color: #714739;
}

.ellipse-silver {
    background-color: #bababa;
}

.ellipse-beige {
    background-color: #c2b0a4;
}

.ellipse-blue {
    background-color: #93a9d2;
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.circle-yellow {
    background-color: #ffeda8;
}

.circle-green {
    background-color: var(--color-green);
}

.circle-green_light {
    background-color: #9fad93;
}

.circle-brown {
    background-color: #714739;
}

.circle-silver {
    background-color: #bababa;
}

.circle-beige {
    background-color: #c2b0a4;
}

.circle-blue {
    background-color: #93a9d2;
}

.dress-code_text {
    text-align: start;
    line-height: 25px;
    font-weight: 300;
    font-size: 17px;
    padding: 20px 20px 0 20px;
}

.photo {
    background-color: var(--color-beige_light);
    padding: 20px 10px 30px;
}

.photo_title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--color-beige);
    text-underline-offset: 7px;
    font-size: 19px;
    font-weight: 600;
    padding: 20px;
}

.photo_for-girl {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 322px;
    background-image: url('../images/IMG_9373.JPG');
}

.photo_for-man {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 322px;
    background-image: url('../images/IMG_9380.JPG');
}

.wedding-location {
    padding: 20px 0;
    background-color: var(--color-green);
    color: var(--color-beige_light);
}

.address-block {
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    gap: 30px;
    padding: 20px;
}

.photo-location {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 320px;
    background-image: url('../images/IMG_9383.PNG');
}

.location-title {
    text-align: center;
    font-weight: 700;
    padding-bottom: 10px;
}








