:root {
    --color-beige_light: #dddbd7;
    --color-beige: #aea38e;
    --color-brown: #593b1f;
    --color-green: #53583e;
    --color-white: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 70px 0;
}

.description {
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
}

.header-name {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    word-spacing: 6px;
    font-size: 40px;
}

.cover {
    background-color: var(--color-beige_light);
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover__img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.date {
    background-color: var(--color-beige_light);
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 5px;
    padding: 30px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-beige_light);
    padding: 0 20px;
}

.about-title {
    display: grid;
    grid-template-columns: min-content 2fr;
}

.about-title_left {
    align-self: flex-start;
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 100px;
    font-weight: 200;
    letter-spacing: 10px;
    padding-left: 10px;
    color: var(--color-green);
}

.about-title_right {
    text-transform: uppercase;
    font-weight: 700;
    align-self: flex-end;
    font-size: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
    line-height: 22px;
    font-weight: 300;
}

.event-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    padding: 10px 0 20px;
}

.event_text-left {
    color: var(--color-beige);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.event_text-right {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 80px;
    font-weight: 200;
    color: var(--color-beige_light);
}

.calendar {
    background-image: url('../images/IMG_9226.PNG');
    background-color: var(--color-green);
    background-repeat: no-repeat;
    background-size: 110% auto; /* Фиксируем ширину, высота auto */
    background-position: center;
    height: 40vh;
    min-height: 335px;
}

.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-green);
    color: var(--color-beige_light);
    text-transform: uppercase;
    padding: 0 0 20px;
}

.timer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
}

.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-time {
    font-size: 27px;
}

.label {
    text-transform: lowercase;
    color: var(--color-beige);
    font-size: 10px;
    padding: 5px 0;
}

.dress_code {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 0;
    background-color: var(--color-beige_light);
}

.logo-dress_code {
    text-align: center;
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 45px;
    letter-spacing: 3px;
}

.dress-code__title {
    font-weight: 500;
}

.ellipse-container, .circle-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    margin: 15px;
    max-width: 370px;
    width: 100%;
    height: 100%;
}

.ellipse {
    border-radius: 30px/30px;
    width: 40px;
    height: 220px;
}

.ellipse-yellow {
    background-color: #ffeda8;
}

.ellipse-green {
    background-color: var(--color-green);
}

.ellipse-green_light {
    background-color: #9fad93;
}

.ellipse-brown {
    background-color: #714739;
}

.ellipse-silver {
    background-color: #bababa;
}

.ellipse-beige {
    background-color: #c2b0a4;
}

.ellipse-blue {
    background-color: #93a9d2;
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.circle-yellow {
    background-color: #ffeda8;
}

.circle-green {
    background-color: var(--color-green);
}

.circle-green_light {
    background-color: #9fad93;
}

.circle-brown {
    background-color: #714739;
}

.circle-silver {
    background-color: #bababa;
}

.circle-beige {
    background-color: #c2b0a4;
}

.circle-blue {
    background-color: #93a9d2;
}

.dress-code_text {
    text-align: start;
    line-height: 25px;
    font-weight: 300;
    font-size: 17px;
    padding: 20px 20px 0 20px;
}

.photo {
    background-color: var(--color-beige_light);
    padding: 20px 10px 30px;
}

.photo_title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--color-beige);
    text-underline-offset: 7px;
    font-size: 19px;
    font-weight: 600;
    padding: 20px;
}

.photo_for-girl {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 322px;
    background-image: url('../images/IMG_9373.JPG');
}

.photo_for-man {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 322px;
    background-image: url('../images/IMG_9380.JPG');
}

.wedding-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: var(--color-green);
    color: var(--color-beige_light);
}

.location-title {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 80px;
    font-weight: 200;
    text-align: center;
}

.address-block {
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
    text-align: center;
    gap: 10px;
    padding: 0 10px;
}

.address-text {
    font-weight: 700;
}

.address-city {
    font-size: 15px;
    font-weight: 100;
    padding-bottom: 10px;
}

.photo-location {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 320px;
    background-image: url('../images/IMG_9383.PNG');
}

.location-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    gap: 23px;
    color: var(--color-beige_light);
}

.map-wrapper {
    border: none;
    padding: 15px 10px 0;
}

.form-questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.form-title {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 80px;
    font-weight: 400;
}

.details-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

.details-list_item {
    text-decoration: none;
    list-style-type: none;
}

.details-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--color-green);
    padding-bottom: 15px;
}

.details-text {
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
}

.bold-text {
    font-size: 16px;
    font-weight: 700;
}

.form {
    max-width: 100%;
    max-height: 100%;
    padding: 25px 20px;
    border: 0;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(rgba(221, 219, 215, 1), rgba(221, 219, 215, 0.5), rgba(221, 219, 215, 0.9)), url("../images/flowers.png");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
    padding: 30px 20px;
    background-color: var(--color-beige_light);
}

.program-text {
    display: flex;
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 56px;
    font-weight: 400;
    letter-spacing: 3px;
    width: 345px;
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
}

.image__program {
    width: 60px;
}

.time-event {
    font-size: 30px;
    font-weight: 700;
}

.text-event {
    font-size: 17px;
    font-weight: 300;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px 20px 30px;
    background-color: var(--color-green);
    color: var(--color-beige_light)
}

.welcome__text {
    font-weight: 200;
    font-size: 20px;
}

.name__text {
    font-size: 25px;
    word-spacing: 6px;
}

@media (min-width: 768px) {
    .description {
        font-size: 40px;
    }

    .header-name {
        font-size: 50px;
    }

    .cover__img {
        max-width: 830px;
        max-height: 880px;
        object-fit: cover;
        padding: 100px 100px 0;
    }

    .date {
        font-size: 24px;
    }

    .about {
        gap: 40px;
        padding: 20px 40px;
    }

    .about-title_left {
        font-size: 150px;
        padding-left: 50px;
    }

    .about-title_right {
        font-size: 30px;
    }

    .about-text {
        font-size: 20px;
    }

    .event_text-left {
        font-size: 30px;
    }

    .event_text-right {
        font-size: 150px;
    }

    .calendar {
        background-size: 700px auto;
        height: 50vh;
    }
}

@media (min-width: 1200px) {
    .description {
        font-size: 50px;
    }

    .header-name {
        font-size: 50px;
    }

    .cover__img {
        max-width: 1050px;
        max-height: 1090px;
        object-fit: cover;
        padding: 100px 100px 0;
    }
    .date {
        font-size: 28px;
    }
}



