:root {
    --color-beige_light: #dddbd7;
    --color-beige: #aea38e;
    --color-brown: #593b1f;
    --color-green: #53583e;
    --color-white: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 70px 0;
}

.description {
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
}

.header-name {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    word-spacing: 6px;
    font-size: 40px;
}

.cover {
    background-image: url('../images/IMG_7559.WEBP');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 350px;
}

.date {
    background-color: var(--color-beige_light);
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 5px;
    padding: 30px;
}
.feelings {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 45px;
    letter-spacing: 3px;
}
.about {
    background-color: var(--color-beige_light);
    padding: 0 30px;
}

.about-title {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about-title_left {
    align-self: flex-start;
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 100px;
    font-weight: 200;
    letter-spacing: 10px;
    padding-left: 10px;
    color: var(--color-green);
}

.about-title_right {
    text-transform: uppercase;
    font-weight: 700;
    align-self: flex-end;
    font-size: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
    text-transform: lowercase;
    font-weight: 300;
}

.event-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    padding: 10px 0 20px;
}

.event_text-left {
    color: var(--color-beige);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.event_text-right {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 80px;
    color: var(--color-beige_light);
}

.calendar {
    background-image: url('../images/IMG_9226.PNG');
    background-color: var(--color-green);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 350px;
}

.dress_code {
    text-align: center;
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 40px;
    letter-spacing: 3px;
    padding: 30px 0 120px;
    background-color: var(--color-beige_light);
}

.circles-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    padding: 20px 0;
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.circle-yellow {
    background-color: #f5ebc8;
}

.circle-green {
    background-color: var(--color-green);
}

.circle-green_light {
    background-color: #9fad93;
}

.circle-brown {
    background-color: #714739;
}

.circle-black {
    background-color: black;
}

.circle-silver {
    background-color: #bababa;
}

.circle-beige {
    background-color: #c2b0a4;
}





